<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UNO_Game.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UNO_Game.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <UNO_Game.Properties.Settings>
            <setting name="Stack_2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Keep_Drawing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AI_Difficulty" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Users_Name" serializeAs="String">
                <value>JohnD</value>
            </setting>
            <setting name="Background_Color" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Window_Mode" serializeAs="String">
                <value>Windowed</value>
            </setting>
        </UNO_Game.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <UNO_Game.Properties.Settings>
            <setting name="DB_con_string" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\LoggingDB.mdf;Integrated Security=True
</value>
            </setting>
        </UNO_Game.Properties.Settings>
    </applicationSettings>
</configuration>